{% extends "common.html" %}
{% block content %}
  
<div class="container">
    <div class="row p-3 m-3">
        <div class="col-12 mx-auto">
                <h1 class="text-center">Your Dashboard</h1>
                <button>fulfilled list</button>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Property Type</th>
                        <th scope="col">Image</th>
                        <th scope="col">price</th>
                        <th scope="col">Approval</th>
                        <th scope="col">status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in property  %}
                      <tr>
                       
                          
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{i.title}}</td>
                        <td>{{i.property_type}}</td>
                        <td>{{i.main_photo}}</td>
                        <td>{{i.price}}</td>
                        <td>{{ i.is_approved|yesno:"Approved,Pending" }}</td>
                        <td><button>fulfilled</button></td>
                        <td><button>Edit</button></td>
                        <td><a href="{% url 'deleteproperty' i.id  %}"><button>Delete</button></a></td>
                  
                    </tr>
                    {% endfor %}    
                   
                    </tbody>
                  </table>
        </div>
    </div>
</div>
{% endblock content %}