{% extends "common.html" %}
{% block content %}
{% load static %}


<div class="form-container m-4 p-4 mx-auto">
  <form action="{% url 'addproperty' %}" method="post">
    {% csrf_token %}

    {% if messages %}
      {% for m in messages  %}
        <div>{{m}}</div>
      {% endfor %}
    {% endif %}
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" placeholder="Enter here..." required>
    </div>

    <div>
        <label for="location"> Location</label>
        <select id="location" name="location" required>
          <option value="">Select or type</option>
          <option>Dharmasthali, Tarakeshwar, Kathmandu</option>
          <option>Tokha, Kathmandu</option>
          <option>Nepaltar (Tarkeshwar), Kathmandu</option>
          <option>Chandra Surya Marg, कोट देवी, Jadibuti</option>
          <option>Maharajgunj Dhapasi Bansbari, Basundhara Area</option>
        </select>
      </div>

    <div>
        <label for="area">Tole/Area</label>
        <input type="text" id="area" name="area" placeholder="eg. Samakhushi">
      </div>
    <div>

      <label for="propertytype">Property Type</label>
      <select id="propertytype" name="propertytype" required>
        <option value="">Select or type</option>
        <option>1 Room</option>
        <option>2 Room</option>
        <option>Flat</option>
        <option>1BHK</option>
        <option>2BHK</option>
        <option>3BHK</option>
        <option>4BHK</option>
        <option>Apartment</option>
      </select>
    </div>

    <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" placeholder="Eg. 5000" required>
      </div>


    <div class="full-width">
      <label for="message">Information</label>
      <textarea id="message" name="message" placeholder="Add Extra Information, if any..."></textarea>
    </div>

    <button class="button2" type="submit">Submit</button>
  </form>
</div>

<script>
  $(document).ready(function() {
    $('#location').select2({
      placeholder: "Select or type",
      allowClear: true
    });

    $('#propertytype').select2({
      placeholder: "Select or type",
      allowClear: true
    });
  });
</script>

{% endblock content %}